.vs/
.vscode/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
database/build/
database/tests/measure_size/out
database/tests/measure_size/db.*
